In [1]:
5 + 7

12

In [2]:
5.5 + 2.7

8.2

In [3]:
"Ammara" + "Humayun"

'AmmaraHumayun'

In [5]:
#List
['1', '2'] + ['A' , 'B']

['1', '2', 'A', 'B']

In [6]:
#Tupple
('1', '2') + ('A' , 'B')

('1', '2', 'A', 'B')

In [7]:
#this operation does not perform on SET and DICTIONARY

In [8]:
#DICTIONARY
{'1', '2'} + {'A' , 'B'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
#SUBTRACTION

In [10]:
20-2

18

In [11]:
25.4-20

5.399999999999999

In [12]:
#Subtraction does not apply on dictionary, set and tupple

In [17]:
#Set
{3, 7, 8} -{2, 3, 8}

{7}

In [18]:
#Multiplcation

In [19]:
"A" * 3

'AAA'

In [20]:
#List
["A", "B"] * 2

['A', 'B', 'A', 'B']

In [21]:
{"A", "B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [22]:
#POWER

In [23]:
2**3

8

In [24]:
2***3

SyntaxError: invalid syntax (<ipython-input-24-6b1f253a49d9>, line 1)

In [25]:
#Division

In [26]:
12/4

3.0

In [27]:
12/3

4.0

In [28]:
12/3.0

4.0

In [29]:
12/6/5

0.4

In [30]:
12/6.5

1.8461538461538463

In [31]:
11/3

3.6666666666666665

In [34]:
#Floor Division
11//3

3

In [35]:
#Modulus

In [36]:
11%3

2

In [37]:
18%5

3

# COMPARISON (RELATIONAL OPERATORS)

== equal
>  greater than
<  less than
>= greater and equal
<= less and equal
!= not equal
<>  not equal

In [39]:
"Ammara" == "ammara"

False

In [40]:
"ammara" == "ammara"

True

In [41]:
'ammara' == "ammara"

True

In [42]:
2 ==2.0

True

In [43]:
2.1 == 2.11

False

In [45]:
a = 2
b = 2
a == b

True

In [46]:
#greater than

6 >10

In [47]:
6 > 10

False

In [48]:
6 < 10

True

In [49]:
10  > 10

False

In [50]:
10 >= 10

True

In [51]:
11 >= 10

True

In [52]:
11>= 12

False

In [53]:
"A" > "B"

False

In [54]:
"A" > "A"

False

In [55]:
"A" == "A"

True

In [56]:
"B" > "A"

True

In [57]:
chr(65)

'A'

In [60]:
ord("A")

65


# ASCII codes
65 = A  -->  90 = Z
97 = a  -->  122 = z
48 = 0  -->  57 = 9

In [63]:
chr (0)

'\x00'

In [65]:
ord("0")

48

In [66]:
#Comparison between A and B
chr(66) > chr (65)

True

In [67]:
3 < 6

True

In [68]:
2<= 3

True

In [69]:
2 != 3

True

In [70]:
3 != 3

False

In [71]:
"Ammara" != "Ammara"

False

In [72]:
"Ammara" != "ammara"

True

In [73]:
2 <>2

SyntaxError: invalid syntax (<ipython-input-73-a9096a7d7630>, line 1)

In [74]:
#<> does not work in Python

# Assignment Operator

= assign value
+=
-=
*=
**=
/=
//=
%=

In [76]:
a= 5
print (a)

5

In [79]:
a= 5
a = 6
a= 7
a= 8
print (a)

#overwrite

8

In [84]:
a = 1
a += 2
a += 3
a += 4 
print (a)
#same logic below

10

In [86]:
a = 1
a = a + 2
a = a + 3
a = a + 4
print (a)

10

In [87]:
a = 100
a -= 2
a -= 3
a -= 4 
print (a)

91

In [89]:
a = 1
a *= 2
a *= 3
a *= 4
print(a)

24

In [93]:
a = 100
a//=2
a //=3
a //= 4
print (a)

4

In [92]:
a = 2
a **= 2
a**= 2
print (a)

16

In [94]:
a = 2
a **= 3
a**= 3
print (a)

512

In [96]:
a = 21
a %= 5
print (a)

1

In [97]:
a = "A"
a *= 3
print (a)

AAA

In [99]:
a = "A"
a += "B"
a += "C"
print (a)
#This is called Concetenation

ABC

In [103]:
a = "A"
a += "1"
print(a)

A1


# Logical Operator

and = &  #(Translate it as LAAZMI, Mandatory)
or = |   #(Translate it as OPTIONAL)
not = !=, <>

In [109]:
user = "Ammara"
password = 123


print(user == "Ammara")
print(password == 123)

True
True

In [110]:
True and True and True and True

True

In [111]:
True & True & True & True

True

In [113]:
True and True and True and False and True

False

In [114]:
True & True & True & False & True

False

In [122]:
a = "A"
b = "B"
c = "C"
d = "D"

print ((a == "A") & (b== "B") & (c=="C") & (d =="D"))
print (a == "A" and b== "B" and c=="C" and d =="D")

True
True

In [123]:
# OR Opertion

In [124]:
True or True or True or False or True

True

In [126]:
True | True | True | False | True

True

In [133]:
a = "A"
b = "B"
c = "C"
d = "D"

print ((a == "A") | (b== "B") | (c=="C") | (d =="D"))
print (a == "A" or b== "B" or c=="C" or d =="D")

True
True

In [ ]:
user = input ("Username")
password = input ("Password")

user  == "ammara"  or\
user =="admin"  or\
user == "abc" and\

password == 123

In [ ]:
user = input ("Username")
password = input ("Password")

user  == "ammara"  or\
user =="admin"  or\
user == "abc" and\

password == 123

In [ ]:
ammara

In [ ]:
user = input ("Username")
password = input ("Password")

(user  =="ammara"  or "admin"  or  "abc")\


and password == "123"

#check it

In [ ]:
not (True and True)

In [ ]:
print("A")